<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/index}">
<head>
<meta charset="utf-8">
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<article layout:fragment="content">
		<p>
			Website tin tức là gì? đặc điểm của việc thiết kế web tin tức?
		</p>
		<img alt="thiết kế web" src="/images/web.png">
		<p>
			Không riêng ở Việt Nam, thiết kế web tin tức ngày càng được chú ý nhiều hơn bởi nó 
			là đối tượng được hàng triệu người tìm kiếm và truy cập mỗi ngày, là nguồn thu nhập đáng kể của các đơn vị báo chí. 
			Cùng tìm hiểu đôi nét về loại hình website thông dụng này qua bài viết dưới đây.
		</p>
		<p>
			Khái niệm thiết kế website tin tức
		</p>	
         <p>Đó là thiết kế một trang báo điện tử – một hình thức báo chí có khả năng tiếp cận và phản hồi liên tục trong mọi thời điểm trên toàn cầu, cập nhật liên tục các thông tin nóng hổi xảy ra trên khắp thế giới. Khác biệt hoàn toàn với báo giấy, có rất nhiều hạn chế luôn bị giới hạn nhất định về số trang, số chữ, thời điểm phát hành và số lượng tin tức, báo điện tử có tốc độ cập nhật tuyệt vời và không gian tin tức không giới hạn. Đặc biệt trong thời đại công nghệ thông tin sức mạnh của báo điện tử đang uy hiếp mạnh mẽ đến sự tồn tại của hình thức báo giấy truyền thống từng tồn tại hàng trăm năm nay.
		</p>
	</article>
</body>
</html>